.RightForm {
  width: auto;
  height: auto;
  min-height: 720px;
  position: absolute;
  z-index: 2;
  top: 128px;
  transition: 0.2s ease-in-out transform;
  padding: 20px 20px 20px 40px;
  border-radius: 4px 0 0 4px ;

  background: linear-gradient(0deg, rgba(0, 95, 184, 0.08), rgba(0, 95, 184, 0.08)), #FFFFFF;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  right: 0;

  &--hidden {
    transform: translateX(calc(100% - 10px));
    max-width: 10px;
    padding: 0;
    width: 10px;

    .content {
      display: none;
    }
  }

  .react-tabs__tab-list {
    margin-bottom: 20px;
  }

  &__toggle {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("./../../assets/img/right.svg") no-repeat;
      background-size: cover;

      top: 50%;
      top: calc(50% - 33px);
      left: -16px;
      width: 34px;
      height: 67px;
    }
  }

  .columns {
    height: 100%;
    padding-bottom: 10px;
    display: flex;

    .column + .column {
      padding-left: 20px;
      margin-right: 20px;
      border-left: 1px solid #C4C4C4;
    }

    .column {
      height: 100%;

      padding-right: 20px;
      position: relative;

      .SelectInput + .SelectInput {
        margin-top: 10px;
      }

      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding: 10px 0 8px;
        margin: 20px 0 0;
      }

      .money-input-wrapper {
        margin-top: 20px;
      }

      &--big {
        width: 280px;
      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
        padding: 0;
        margin: 0;
      }

      .tab-2 {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 96px 142px;
        grid-template-rows: 1fr;
        gap: 8px 20px;
        grid-auto-flow: row;
        grid-template-areas: ". .";
      }

      .label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
      }
    }
  }
}
